form {
  background: #fff;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 8px;
}

input {
  width: 90%;
  padding: 10px;
}

#message {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}
