ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f0e8e8;
  padding: 10px;
  margin: 8px auto;
  width: 300px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

li button {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

button:hover {
  opacity: 0.8;
}

body {
  background: #eef2f3;
}

h1 {
  margin-bottom: 20px;
}

input, button {
  border-radius: 5px;
}


